
<!DOCTYPE html>
<html lang="en">

<head>
    <Title>File Upload</Title>
</head>

<body>
    <h1>Upload File</h1>

    <form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit"/>
    </form>

    <hr>
       <form action = "http://localhost:5000/uploadedFiles" method = "POST" enctype = "multipart/form-data">

        <input type = "submit" value = "CLICK TO SEE UPLOADED FILES"/>
    </form>
</body>

</html>

